<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Saturn.RobotWindow.styles.css"]" />
</head>

<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["/lib/bootstrap/dist/js/plot_widget.js"]"></script>
    <script src="@Assets["/lib/bootstrap/dist/js/canvas.js"]"></script>
    <script src="@Assets["/lib/bootstrap/dist/js/timeplot_line.js"]"></script>
    <script src="@Assets["/lib/bootstrap/dist/js/timeplot_widget.js"]"></script>
    <script src="@Assets["/lib/bootstrap/dist/js/radar_widget.js"]"></script>
    <script src="@Assets["/lib/bootstrap/dist/js/device_widget.js"]"></script>
    <script src="@Assets["/lib/bootstrap/dist/js/window_manager.js"]"></script>
    <script src="@Assets["/lib/bootstrap/dist/js/generic.js"]" type="module"></script>
</body>

</html>
